{% load static %} 
{% load i18n %}

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="card">
                    {% include 'category/partials/list.html' with cat_items=category.get_children %}
                    {% include 'product/partials/filter_price.html' %}
                    {% include 'product/partials/filter_attrs.html' %}
                </div>
            </aside>
            <main class="col-md-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">{{ products.paginator.count }} {% translate "Items found" %}</span>
                    </div>
                </header>
                <div class="row">
                    {% include 'product/list.html' with items=products.object_list %}
                </div>
                {% url 'company:category' company.alias category.alias as href_url %}
                {% include 'product/partials/pagination.html' with page_obj=products href_url=href_url %}
            </main>
        </div>
    </div>
</section>
