:root { 
  --min-body-width: 320px;
  --max-body-width: 1400px;
  --height-navbar: 64px;

  --base-font-size: 14px;
  --base-letter-spacing: 0em;
  --base-line-height: 1.36em;

  --base-val:  0.125em;
  --hover-opacity: 0.1;

  --font-weight-common: 500;
  --font-weight-bold: 700;

  --bg-html-color: #FFFFFF;
  --bg-body-color: #FFFFFF;
  --bg-modal-color: rgba(0, 0, 0, 0.5);
  --bg-content-color: #F0F0F0;
  --bg-nav-color: #C0C0C0;
  --bg-footer-color: #C0C0C0;
  --text-color: #404040;
  --box-shadow-color: gray;
  --wish-color: #E498A5;
  --compare-color: #7CB9E8;
  --box-color:  #8FBC8F;
  --hover-color: gray;
  --border-color: #cccccc;
  --bg-error-message-color: #F08080;
  --error-message-color: #FFFFFF;
  --bg-success-message-color: #90ee90;
  --success-message-color: #FFFFFF;
}
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/
html {
  background: var(--bg-html-color);
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-body-color);
  color: var(--text-color);
  margin: 0 auto;
  min-width: var(--min-body-width);
  max-width: var(--max-body-width);
  font-size: var(--base-font-size);
  letter-spacing: var(--base-letter-spacing);
  line-height: var(--base-line-height);
  font-weight: var(--font-weight-common);
}
button span {
  pointer-events: none;
}
button i {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.invisibile {
  visibility: hidden;
}
.badge.top-right {
  top: -5px;
  right: -5px;
  left: initial;
}
#cart-icon {
  top: 30%;
  right: 26%;
}
.justify-center {
  justify-content: center;
}

/* =========================================================================================== */
/* -------------------------------------- animatioms ----------------------------------------- */
/* =========================================================================================== */
.wish {
  animation: 0.2s ease-in forwards wish;
}
.unwish {
  animation: 0.2s ease-in forwards unwish;
}

@keyframes wish {
  0% {
    fill: transparent;
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    fill: var(--wish-color);
    transform: scale(1.0, 1.0);
  }
}
@keyframes unwish {
  0% {
    fill: var(--wish-color);
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    fill: transparent;
    transform: scale(1.0, 1.0);
  }
}
.wished_scale {
  animation: 0.2s ease-in forwards wished_scale;
}
@keyframes wished_scale {
  0% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

.compare {
  animation: 0.2s ease-in forwards compare;
}
.uncompare {
  animation: 0.2s ease-in forwards uncompare;
}

@keyframes compare {
  0% {
    fill: transparent;
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    fill: var(--compare-color);
    transform: scale(1.0, 1.0);
  }
}
@keyframes uncompare {
  0% {
    fill: var(--compare-color);
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    fill: transparent;
    transform: scale(1.0, 1.0);
  }
}

.compared_scale {
  animation: 0.2s ease-in forwards compared_scale;
}
@keyframes compared_scale {
  0% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}
.box_scale {
  animation: 0.2s ease-in forwards box_scale;
}
@keyframes box_scale {
  0% {
    transform: scale(1.0, 1.0);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}