{% load static %} 
{% load i18n %}
{% load helpers %}

<section class="section-content padding-y">
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      	<article class="card-body">
		<header class="mb-4"><h4 class="card-title">{% translate "Sign up" %}</h4></header>
			{% form_errors form.non_field_errors %}
			<form action="{% url 'company:account_registration' company.alias %}" method="POST">
				{% csrf_token %}
				<div class="form-row">
					<div class="col form-group">
						<label>{% translate "First name" %}</label>
					  	{% form_errors form.first_name.errors %}
						{{ form.first_name }}
					</div>
					<div class="col form-group">
						<label>{% translate "Last name" %}</label>
					  	{% form_errors form.last_name.errors %}
						{{ form.last_name }}
					</div>
				</div>
				{% comment %}
				<!-- <div class="form-group">
					<label>{% translate "Email" %}</label>
					{% form_errors form.email.errors %}
					{{ form.email }}
					<small class="form-text text-muted">{% translate "We'll never share your email with anyone else." %}</small>
				</div>
				<div class="form-group">
				    {% for radio in form.sex %}
				    <label class="custom-control custom-radio custom-control-inline" for="{{ radio.id_for_label }}">
				        {{ radio.tag }}
				        <span class="custom-control-label">{{ radio.choice_label }}</span>
				    </label>
				    {% endfor %}
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label>{% translate "City" %}</label>
					  {% form_errors form.city.errors %}
					{{ form.city }}
					</div>
					<div class="form-group col-md-6">
					  <label>{% translate "Country" %}</label>
					  {{ form.country }}
					</div>
				</div> -->
				{% endcomment %}
				<div class="form-row">
					<div class="col form-group">
						<label>{% translate "Email" %}</label>
					  	{% form_errors form.email.errors %}
						{{ form.email }}
					</div>
					<div class="col form-group">
						<label>{% translate "Phone" %}</label>
					  	{% form_errors form.phone.errors %}
						{{ form.phone }}
					</div>
				</div>
				<div class="form-group">
				    {% for radio in form.sex %}
				    <label class="custom-control custom-radio custom-control-inline" for="{{ radio.id_for_label }}">
				        {{ radio.tag }}
				        <span class="custom-control-label">{{ radio.choice_label }}</span>
				    </label>
				    {% endfor %}
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>{% translate "Create password" %}</label>
						{% form_errors form.password.errors %}
					    {{ form.password }}
					</div>
					<div class="form-group col-md-6">
						<label>{% translate "Repeat password" %}</label>
						{% form_errors form.password2.errors %}
						{{ form.password2 }}
					</div>
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> {% translate "Register" %}  </button>
			    </div> 
			</form>
		</article>
    </div> 
    <p class="text-center mt-4">{% translate "Have an account?" %} 
    	<a href="{% url 'company:account_login' company.alias %}">{% translate "Log In" %}</a>
    </p>
    <br><br>
</section>