{% load i18n %}
{% load helpers %}
<tr id="cart-prod-{{ item.id }}">
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{ item.thumb|or_default_img }}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">
					{{ item.prod_base__name|in_lang_or_default }}
					<small>
                        {% if item.ext_name %}
                            ({{ item.name_ext|in_lang_or_default }})
                        {% endif %}
                    </small>
				</a>
				<p class="text-muted small">Matrix: 25 Mpx <br>{{ item.brand__name|in_lang_or_default }}</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
		<div class="col"> 
			<div class="input-group input-spinner">
				<div class="input-group-prepend">
					{% cart_product_qty cart item.id as prod_quantity %}
					<button onclick="cart.decrement()" data-prodid="{{ item.id }}"
						class="btn btn-light" type="button" id="button-plus"> 
						<i class="fa fa-minus"></i> 
					</button>
					</div>
					<input id="prod-total-{{ prod.id }}" type="hidden" name="prod-total">
					<input id="prod-quantity-{{ item.id }}"
                        data-prodid="{{ item.id }}" 
                        data-quantity="{{ prod_quantity|default_if_none:'' }}"
						type="text" class="form-control"  value="{{ prod_quantity|default_if_none:'' }}">
					<div class="input-group-append">
					<button onclick="cart.increment()" data-prodid="{{ item.id }}"
						class="btn btn-light" type="button" id="button-minus"> 
						<i class="fa fa-plus"></i> 
					</button>
				</div>
			</div> <!-- input-group.// -->
		</div> <!-- col.// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">{{ item.total_price }}</var> 
			<small class="text-muted">{{ item.price }} each </small> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<button type="button" class="btn btn-danger" 
        onclick="cart.remove()" data-prodid="{{ prod.id }}"
    >
        {% translate "Remove" %}
    </button>
	</td>
</tr>