{% load static %}
{% load i18n %}

<article class="filter-group">
	<header class="card-header">
		<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
			<i class="icon-control fa fa-chevron-down"></i>
			<h6 class="title">{% translate "Price range" %}</h6>
		</a>
	</header>
	<div class="filter-content collapse show" id="collapse_3" style="">
		<div class="card-body">
			<div class="form-row">
			<div class="form-group col-md-6">
			  <label>{% translate "Min" %}</label>
			  <!-- <input class="form-control" placeholder="$0" type="number"> -->
			  	<select class="mr-2 form-control">
					<option value="0">$0</option>
					<option value="50">$50</option>
					<option value="100">$100</option>
					<option value="150">$150</option>
					<option value="200">$200</option>
					<option value="500">$500</option>
					<option value="1000">$1000</option>
				</select>
			</div>
			<div class="form-group text-right col-md-6">
			  <label>{% translate "Max" %}</label>
			  	<select class="mr-2 form-control">
					<option value="50">$50</option>
					<option value="100">$100</option>
					<option value="150">$150</option>
					<option value="200">$200</option>
					<option value="500">$500</option>
					<option value="1000">$1000</option>
					<option value="2000">$2000+</option>
				</select>
			</div>
			</div> <!-- form-row.// -->
			<button class="btn btn-block btn-primary">{% translate "Apply" %}</button>
		</div><!-- card-body.// -->
	</div>
</article> <!-- filter-group .// -->