{% load static %}
{% load i18n %}
{% load helpers %}

{% if item.units %}
	{% cart_product_qty cart item.id as item_quantity %}
	<button type="button" class="position-relative btn 
		{% if item.id in cart.get_product_ids %}
			btn-success
		{% else %}
			btn-primary
		{% endif %} {% if w_full %}w-100{% endif %}"
		onclick="cart.select()" 
        data-prodid="{{ item.id }}" 
        data-quantity="{{ item_quantity|default_if_none:'' }}"
    >
	    	<span id="item-not-in-cart" class="{% if item.id in cart.get_product_ids %}hidden{% endif %}">
	    		Add to cart {% if icon %}<i class="text pl-2 fas fa-shopping-cart"></i>{% endif %}
	    	</span>
	    	<span id="item-in-cart" class="{% if item.id not in cart.get_product_ids %}hidden{% endif %}">
	    		Added to cart {% if icon %}<i class="text pl-2 fas fa-check"></i>{% endif %}
	    	</span>
	    	{% if icon %}
	    		<!-- <span class="text pl-2"><i class="fas fa-shopping-cart"></i></span> -->
	    	{% endif %}
		<span class="position-absolute badge rounded-pill bg-success top-right
		{% if item.id not in cart.get_product_ids %}hidden{% endif %}">
			<small>{{ item_quantity }}</small>
		</span>
    </button>
{% else %} 
	<button type="button" class="btn btn-secondary w-100">Not available</button>
{% endif %}