{% load static %}
{% load i18n %}
{% load helpers %}

<div class="col-md-4">
	<figure class="card card-product-grid">
		<div class="img-wrap"> 
			<img src="{{ item.thumb|url_or_default }}">
		</div>
		<figcaption class="info-wrap">
			<div class="fix-height">
				<a href="{% url 'company:product' company.alias item.cat_slug item.slug %}" class="title">
					{{ item.prod_base.name|in_lang_or_default }}
				</a>
				<div class="price-wrap mt-2">
					{% if item.sale_price %} 
						<span class="price">{{ item.sale_price }}</span>
						<del class="price-old">{{ item.price }}</del>
					{% else %} 
						<span class="price">{{ item.price }}</span>
					{% endif %}
				</div>
			</div>
			<a href="#" class="btn btn-block btn-primary">Add to cart</a>
			{% comment %}
			{% if item.units %}
				<a href="#" class="btn btn-block btn-primary">Add to cart</a>
			{% else %} 
				<button type="button" class="btn btn-secondary">Not available</button>
			{% endif %}
			{% endcomment %}
		</figcaption>
	</figure>
</div>