{% load helpers %}

<div class="d-flex justify-content-center align-items-center">
	<span class="text-gray-200" onclick="compare.toggle()" data-prodid="{{ item.id }}">
		<i class="fa fa-balance-scale px-3 {% if item.id|to_str in compare.get_product_ids %}text-primary{% endif %}" aria-hidden="true"></i>
	</span>
	<span class="text-gray-200" onclick="wish.toggle()" data-prodid="{{ item.id }}">
		<i class="fa fa-heart px-3 {% if item.id|to_str in wish.get_product_ids %}text-primary{% endif %}" aria-hidden="true"></i>
	</span>
</div>