{% load static %}
{% load i18n %}
{% load helpers %}

<section class="section-name padding-y-sm">
	<div class="container">
		<div class="row">
			{% with wish_qty=wish|length %}
		        {% for prod in wish %}
		        {% with item=prod %}
		            {% include 'product/partials/shop_item.html' %}
		        {% endwith %}
		        {% endfor %}
			    <div id="wish-list-empty" class="card p-3 {% if wish_qty > 0 %}hidden{% endif %} w-100">
					<h4 class="text-center">{% translate "Wish list is empty" %}</h4>
				</div>
        	{% endwith %}
		</div>
	</div>
</section>

